* {
  margin: 0;
}
body {
  background-color: #c0c0c0;
}
#bg {
  position: absolute;
  margin: 0;
  background-image: url(./OG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.nav {
  position: relative;
  background-color: #888787;
  height: 40px;
}
.nav ul {
  list-style-type: none;
}
#og {
  padding-top: 10px;
  width: 30px;
  position: absolute;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  font-weight: bolder;
}
.nav svg {
  float: right;
  height: 11px;
  padding-top: 13px;
  margin-right: 8px;
  top: -4%;
}
.writeup {
  position: relative;
  color: white;
  margin-top: 50%;
  margin-left: 10%;
  font-style: initial;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.writeup h1 {
  padding-top: 5%;
  font-size: 8vh;
}
.writeup h4 {
}
.writeup h3 {
}
